@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

*{
    font-family: "Raleway", sans-serif;
    margin: -1px;
    padding: 0px;
    box-sizing: border-box;
    border: 0px;
}

p{
    color: #FFFFFF;
}

nav{
    z-index: 4;
    padding: 20px 40px;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    position: fixed;
}

.fondoNav{
    color: white;
    background-color: rgba(0, 0, 0, 0.185);
}

.menu{
 display: flex;
 width: 300px;
 justify-content: space-around;
}

main{
    padding: 50px 20px;
}

.item-menu{
    list-style-type: none;
}

.item-link{
    font-size: 23px;
    font-weight: 600;
    color: white;
    text-decoration: none;
}

header{
 background-size: cover;
 height: 100vh;
 width: 100%;
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: center;
}

.header{
    position: relative;
    height: 70vh;
}

h2{
    font-size:calc(2em + 18px) ; 
    font-weight: 500;
    text-align: center;
    color: #2F3645;
}

h1{
    font-weight: 600;
    font-size: 80px; 
    color: #eeeeee;
}

.titulo{
    text-align: center;
    font-weight: 600;
}

.contenido{
    margin: 100px 0px;
    gap: 20px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.tarjeta{
    width: 450px;
    height: 500px;
    gap: 40px;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.desc-tarjeta{
    width: 90%;
    text-align: center;
    height: 30px;
    color:#181D31;
}

.img-tarjeta{
    width: 100%;
    margin: 0px;
}

.boton-tarjeta{
    padding: 8px ;
    background-color: #2F3645;
    text-align: center;
    margin-bottom: 20px;
    text-transform: uppercase;
    text-decoration: none;
    width: 80%;
    color: white;
}

.logo{
    height: 80px;
}

footer{
    background: #2F3645;
    display: flex;
    align-items: center;
    padding: 40px;
    color: white;
    vertical-align: middle;
}

.footerizq{
 display: flex;
 justify-content: space-between;
 width:300px;
 height: 60px;
 
}

.cont-historia{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 80px;
}

.card-historia{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding:80px 50px;
    gap: 20px;    
}

.card-texto-section{
    display: flex;
    flex-direction: column;
    gap: 40px;
    justify-content: space-between;
    align-items: center;
    width: 80%;
}

.texto-historia{
    color: #2F3645;
    font-size: large;
}

.tarjetaVideo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 100px 0px;
    gap: 80px;
}

.botonesVideo{
    box-shadow: 2px 2px grey;
    padding: 5px 5px;
    text-decoration: none;
    background-color: #FFFFFF;
    color:#2F3645;
    font-weight: 300;
    width: 80px;
}

.barra{
    background-color: #2F3645;
    border-radius: 10px;
    padding: 20px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.botonesPP{
    display: flex;
    gap: 20px;
}

.tarjetaVideo2{
    padding: 5px;
    background-color: #2F3645;
    width: 70%;
}

#mostrarTiempo{
    padding-right: 15px;
    font-size: x-large;
    color: white;
}

.card-prod{
    width: 250px;
    height: 480px;
}

.titulo-prod{
     font-size: 20px;
}

.img-prod{
    height: 221px;
}

.juego{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cajas{
   display: flex;
   flex-direction: row;
}

.caja{
   width: 275px;
   height: 400px;
   display: flex;
   border: 2px solid black;
   background-color: grey;
   text-align: center;
   justify-content: center;
   align-items: center;
}

#cajaimagenes{
   display: flex;
   flex-direction: row;
   gap: 10px;
   margin: 40px;
}

#imagen1, #imagen2,#imagen3{
    width: 300px;
    height: 400px;
}

.boton-reinicio{
    display: flex;
    margin: auto;
    padding: 10px 100px;
    border: none;
    border-radius: 0px;
    background-color: #2F3645;
    color: #FFFFFF;
    text-transform: uppercase;
    font-weight: 300;
    text-align: center;
}